@* Esta View espera receber um único objeto CursoDTO para o binding do formulário *@
@model SistemaUniversitario.Application.DTOs.CursoDTO

@{
    ViewData["Title"] = "Criar Novo Curso";
}

<h1>Criar Novo Curso</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            @* Exibe um sumário dos erros de validação *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group mb-3">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>